body {
  /* background: #fff; */
}

div,
pre,
p,h3 {
  margin: 0;
}

.mark-list .file-wrapper{
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  margin-bottom: 16px;
  background: #feff99;
  padding-bottom: 16px;
}

.file-wrapper .wrapper-header{
  /* position: relative; */
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 16px 16px;
  /* border-bottom: 1px solid #ddd; */
  margin-bottom: 16px;
  background: #f0f18b;
  /* background: #f8f7f6; */

}

.wrapper-header .file-name{
  /* position: absolute;
  top: 0;
  left: 16px;
  transform: translateY(-50%); */
  font-size: 16px;
  color: #666;
  max-width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* padding: 16px; */
}

.wrapper-header .file-delete{
  width: 20px;
  height: auto;
}

.mark-list .mark-item {
  cursor: pointer;
  list-style: none;
  /* border: 1px solid #ddd; */
  display: flex;
  margin: 0 24px;
  background: #f9f995;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
}

.mark-list .mark-item .serial-number {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  text-align: center;
  width: 25px;
  /* border-right: 1px solid #ddd; */
  flex-shrink: 0;
  color: #333;
  padding: 4px;
}

.mark-item .file-mark-text {
  flex: 1;
  overflow: hidden;
  font-size: 14px;
  position: relative;
}

.file-mark-text .file-mark-text-pre {
  padding: 8px 16px;
  color: #333;
  /* border: 1px solid #ddd; */
}

.file-mark-text .mark-record {
  border-top: 1px solid #ddd;
  height: 20px;
  width: 100%;
  line-height: 20px;
  text-overflow: ellipsis;
  padding-left: 16px;
  overflow: hidden;
  white-space: nowrap;
  color: #333;
}

.file-mark-text .delete-button {
  position: absolute;
  color: crimson;
  right: 8px;
  top: 4px;
  text-decoration: underline;
}
