body {
  /* background: #fff; */
}

div,
pre,
p,h3 {
  margin: 0;
}

.mark-list .file-wrapper{
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
  margin-bottom: 16px;
  background: #fff;
  padding-bottom: 16px;
}

.file-wrapper .wrapper-header{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 16px 16px;
  margin-bottom: 16px;
  background: #eee;
}

.wrapper-header .file-name{
  font-size: 16px;
  color: #666;
  max-width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.wrapper-header .file-delete{
  width: 20px;
  height: auto;
}

.mark-list .mark-item {
  cursor: pointer;
  list-style: none;
  margin: 0 24px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
  margin-bottom: 16px;
}

.mark-item .file-mark-text {
  font-size: 14px;
  display: flex;
}

.mark-item .mark-footer{
  display: flex;
  font-size: 14px;
  padding: 4px 0;
}

.mark-list .mark-item .serial-number {
  text-align: center;
  width: 25px;
  flex-shrink: 0;
  color: #333;
  padding: 4px;
  background: #ddd;
}

.file-mark-text .file-mark-text-pre {
  padding: 8px 16px;
  color: #333;
  flex: 1;
  width: 0;
  overflow: hidden;
  background: #eee;
}

.mark-footer .mark-record {
  height: 20px;
  width: 100%;
  line-height: 20px;
  text-overflow: ellipsis;
  padding-left: 16px;
  overflow: hidden;
  white-space: nowrap;
  color: #333;
  flex: 1;
}

.mark-footer .delete-button {
  color: crimson;
  text-decoration: underline;
  width: 40px;
  text-align: center;
}

.img-info{
  width: 0;
  height: 0;
  overflow: hidden;
}